*{
  box-sizing: border-box;
}

body{
  background-color: #F2F2F2;
  margin: 0;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #242424;
}

.dark-mode {
  background-color: #2d2d2d;
  color: white;
  circle{
    background-color: #959ab2;
  }
  circle:hover{
    background-color: #606674;
  }
  #moon{
    fill: #fdfd96;
    stroke: #fdfd96;
    //d: path('M 27 16.1 A 12 12 90 1 1 27 16 z') !important;
    //width: 100%
    }
}

.logo{
  margin-top: 18px;
  position: absolute;
}

#sun{
  fill: #fdfd96;
  stroke: #fdfd96;
  //d: path('M 27 16.1 A 12 12 90 1 1 27 16 z') !important;
  //width: 100%
  }

.navheader{
  display: inline;
  list-style-type: none;
  position: relative;
  padding-bottom: 12px;
}

.floatleft {
    float:left;
    margin-left: 2em;
}
.floatright {
    float:right;
    margin-top: .5em;
    margin-right: 1em;
}

ul{
  margin-top: 1.5em;
}

li{
  display:inline-block;
  margin-left: 2.5em;
}

circle{
  height: 45px;
  width: 45px;
  border-radius: 50%;
  background-color: #1F3948;
  display: inline-block;
}

circle:hover{
  background-color: #355060;
  cursor: pointer;
}
.svgMoon, .svgLogin, .svgMenu{
  margin: auto;
  display: flex;
  align-items: center;
  transition: all .3s ease;
}

.svgMoon{
  margin-top: .55em;
  }

.svgLogin{
  margin-top: .7em;
  }

.svgMenu{
    margin-top: .73em;
    }

circle:hover > .svgMoon {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
 transform: rotate(45deg);
 -webkit-transition-duration: .2s;
 -moz-transition-duration: .2s;
 -o-transition-duration: .2s;
 transition-duration: .2s;
}

circle:hover .LoginArrow {
  transform: translateX(0.1em);
  transition-duration: .2s;
  background: yellow;
  color: yellow;
  background-color: yellow;
}


.floatleft:hover .bars{
  filter: invert(38%) sepia(79%) saturate(658%) hue-rotate(301deg) brightness(88%) contrast(95%);
  transform: translateY(1em);
}

circle:hover > .svgMenu {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
 transform: rotate(90deg);
 -webkit-transition-duration: .2s;
 -moz-transition-duration: .2s;
 -o-transition-duration: .2s;
 transition-duration: .2s;
}

//Login Form

#LoginForm{
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  color: "#333";
  //display: none;
  margin: auto;

  height: 300px;
  align-self: center;
  background-color: grey;
  left: 4%;
  right: 5%;
  top: 10%;
  border-radius: 10px 10px 10px 10px;
  background: #fff;
  padding: 30px;
  width: 92%;
  max-width: 800px;
  position: absolute;
  padding: 0px;
  -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  text-align: center;
}

#Navigation{

}

#LoginIcon{
  float: left;
  margin-left: 50px;
  margin-top: 100px;
}
#InputDesktop{
  transform: translate(-55px, -323px);
  visibility:hidden;
  opacity:0;
  transition:visibility 0.3s linear,opacity 0.3s linear;
}

#LoginIcon:hover #InputDesktop{
  cursor: default;
  visibility:visible;
  opacity:1;
}

#LoginInput{
  padding-top: 30px;
}

.wrapInputEmail{
  magin-top: 20px;
  position: relative;
  box-sizing: border-box;
  background-color: "black";
  border-radius: 50px;
}

.inputBox{
background-color: transparent;
font-weight: 400;
outline: none;
border: visible;
border-style: solid;
border-radius: 25px;
border-color: grey;
border-width: thin;
outline: 0px;
overflow: visible;
margin: 0;
caret-color: grey;
width: 200px;
height: 30px;
font-size: 10.5px;
}

inputBox:active + label {
  background-color: red;
}

.form{
  margin: 0;
  position: relative;
  //background: blue;
  font-size: 10px;
}

input{
    color: #1F3948;
    font-family: 'Poppins';
    font-weight: normal;
    padding-left: 35px;
    padding-top: 4px;
}
#input-text{
  color: "white";
}

label{
  color: grey;
  display: block;
  margin-left: auto;
  position: relative;
  text-align: left;
  margin-left: 15px;
  margin-top: -30px;
  pointer-events: none;
}

.fa{
  margin-top: -30px;
  top: 100px;
}
#mailicon{
  margin-top: -100px;
}
.content-name{
  margin-left: 10px;
}

.form input:focus + .content-label .content-name ,
.form input:valid + .content-label .content-name

{
  transition: color 0.3s;
  color: transparent;
}



.inputBox:focus {
  border-color: #ff6666;}

.error{
        outline: 1px solid red;
    }

 ::placeholder {
   color: #4c545c;
   font-family: 'Poppins';
}

 .LoginTable{
   float: right;
   margin-right: 10%;
   position: sticky;
   width: 200px;

 }


.LoginTable tr > #loginText {
  font-size: 20px;
  line-height: 70px; }
.LoginTable tr{line-height: 30px;}
#login_btn {
  margin-top: 20px;
  font-weight: lighter;
  font-size: 15px;
  line-height: 1.5;
  background-color: #1F3948;
  color: white;
  text-transform: uppercase;
  width: 100%;
  height: 40px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;
}

#login_btn:hover {
  background-color: #3c444c;
  cursor: pointer;
}

#forgot{
  background: transparent;
  border: none;
  box-shadow: none;
  color: grey;
  font-weight: lighter;
  font-size: 11px;
  cursor: pointer;
}

#forgot:hover #forgotFocus{
  font-weight: bold;
}


@media only screen and (max-width: 500px) {
  body {
    background-color: lightblue;
  }
  #LoginIcon{
    display: none;
  }
}

@media (max-width:801px)  { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
  body {
    background-color: lightblue;
  }
  #LoginIcon{
    display: none;
  }
  .myForm{
    display: block;
text-align: center;
  }

  .LoginTable{
    display: inline-block;
    margin-right: 23%;
    margin-left: 10%;
    text-align: left;
  }

}
@media (min-width:480px)  { /* smartphones, Android phones, landscape iPhone */ }
@media (min-width:600px)  { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */ }
@media (min-width:801px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ }
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
@media (min-width:1281px) { /* hi-res laptops and desktops */ }
